.scroller {
    height: 100%;
}

.scroller {
    overflow-y: scroll;
}

.scroller,
.scroller-inner {
    position: relative;
}

.container {
    position: relative;
    overflow: hidden;
    background: #34495e;
}

.menu-trigger {
    position: relative;
    padding-left: 60px;
    font-size: 0.9em;
}

.menu-trigger:before {
    position: absolute;
    top: 2px;
    left: 0;
    width: 40px;
    height: 6px;
    background: #fff;
    box-shadow: 0 6px #34495e, 0 12px #fff, 0 18px #34495e, 0 24px #fff;
    content: '';
}

.mp-pusher {
    position: relative;
    left: 0;
    height: 100%;
}

.mp-menu {
    position: absolute; /* we can't use fixed here :( */
    top: 0;
    left: 0;
    z-index: 1;
    width: 200px;
    height: 100%;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);

}

.mp-level {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #535353;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    overflow: hidden;
}

.mp-level > ul {
    overflow-y: auto;
    width: 217px;
    max-height: 100%;
}

.mp-level > ul > li > a {
    text-indent: -22px;
    padding-left: 28px !important;
    display: inline-block;
}

.mp-level > ul > li:last-child {
    margin-bottom: 120px;
}

/* overlays for pusher and for level that gets covered */
.mp-pusher::after,
.mp-level::after,
.mp-level::before {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    opacity: 0;
}

.mp-pusher::after {
    z-index: 300;
}

.mp-pusher::after,
.mp-level::after {
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.1s, width 0.1s 0.1s, height 0.1s 0.1s;
    -moz-transition: opacity 0.1s, width 0.1s 0.1s, height 0.1s 0.1s;
    transition: opacity 0.1s, width 0.1s 0.1s, height 0.1s 0.1s;
}

.mp-level::after {
    z-index: -1;
}

.mp-level.mp-level-overlay.mp-level::before {
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 1;
}

.mp-pushed .mp-overlay {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.mp-pusher,
.mp-level {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

/* overlap */
.mp-overlap .mp-level.mp-level-open {
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: translate3d(-40px, 0, 0);
    -moz-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

/* First level */
.mp-menu > .mp-level,
.mp-menu > .mp-level.mp-level-open,
.mp-menu.mp-overlap > .mp-level,
.mp-menu.mp-overlap > .mp-level.mp-level-open {
    box-shadow: none;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* cover */
.mp-cover .mp-level.mp-level-open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.mp-cover .mp-level.mp-level-open > ul > li > .mp-level:not(.mp-level-open) {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

/* content style */
.mp-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mp-menu h2 {
    margin: 0;
    padding: 8px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 2em;
    font-family: "Open Sans Light", Helvetica, Arial, Tahoma, sans-serif;
    vertical-align: middle;
    position: relative;
    transition: box-shadow linear 0.2s, background linear 0.2s, border linear 0.2s;
}

.mp-menu h2 .icon {
    vertical-align: middle;
    margin-right: 5px;
}

.mp-menu.mp-overlap h2::before {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 8px;
    font-size: 75%;
    line-height: 1.8;
    opacity: 0;
    -webkit-transition: opacity 0.1s, -webkit-transform 0.1s 0.1s;
    -moz-transition: opacity 0.1s, -moz-transform 0.1s 0.1s;
    transition: opacity 0.1s, transform 0.1s 0.1s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
}

.mp-menu.mp-cover h2 {
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
}

h2.mp-fly {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.mp-level > h2:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.mp-menu > .mp-level > h2:hover {
    background-color: transparent;
}

.mp-overlap .mp-level.mp-level-overlay > h2::before {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.1s, opacity 0.1s;
    -moz-transition: -moz-transform 0.1s, opacity 0.1s;
    transition: transform 0.1s, opacity 0.1s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
}

.mp-menu ul li > a {
    color: #eee;
    display: block;
    padding: 8px;
    outline: none;
    font-size: 12px;
    -webkit-transition: background 0.1s, box-shadow 0.1s;
    -moz-transition: background 0.1s, box-shadow 0.1s;
    transition: background 0.1s, box-shadow 0.1s;

}

.mp-menu ul li > a > i {
    display: inline-block;
    margin-right: 5px;
}

.mp-children {
    overflow: hidden;
}

.mp-menu ul li::before {
    position: absolute;
    left: 10px;
    z-index: -1;
    color: rgba(0, 0, 0, 0.2);
    line-height: 3.5;
}

.mp-menu ul > li > a:hover,
.mp-level > ul > li:first-child > a:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.mp-menu .mp-level.mp-level-overlay > ul > li > a,
.mp-level.mp-level-overlay > ul > li:first-child > a {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
}

.mp-level > ul > li:first-child > a:hover,
.mp-level.mp-level-overlay > ul > li:first-child > a {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0), inset 0 1px rgba(0, 0, 0, 0);
}

/* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */

/*.mp-back {*/
/*outline: none;*/
/*color: #ddd;*/
/*display: block;*/
/*padding: 7px;*/
/*position: relative;*/
/*box-shadow: 0 1px rgba(255, 255, 255, 0.1) inset, 0 3px 2px rgba(0, 0, 0, 0.3);*/
/*-webkit-transition: background 0.1s;*/
/*-moz-transition: background 0.1s;*/
/*transition: background 0.1s;*/
/*border-top: 1px solid #333;*/

/*}*/

/*.mp-back:hover {*/
/*color: #fff;*/
/*background: rgba(0, 0, 0, 0.2);*/
/*}*/

/*.mp-back i {*/
/*position: absolute;*/
/*right: 5px;*/
/*top: 9px;*/

/*}*/

.mp-h2-back {
    position: absolute;
    right: 0;
}

.mp-menu .mp-level.mp-level-overlay > .mp-back,
.mp-menu .mp-level.mp-level-overlay > .mp-back::after {
    background: transparent;
    box-shadow: none;
    color: transparent;
}

/* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
/* We'll show the first level only */
.no-csstransforms3d .mp-pusher,
.no-js .mp-pusher {
    padding-left: 300px;
}

.no-csstransforms3d .mp-menu .mp-level,
.no-js .mp-menu .mp-level {
    display: none;
}

.no-csstransforms3d .mp-menu > .mp-level,
.no-js .mp-menu > .mp-level {
    display: block;
}

.mp-menu {
    position: fixed;
    z-index: 400;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.mp-pushed .mp-menu {

    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
