@import "../../resource/css/init";
/* Additional styles to display a spinner image while options are loading */
.localytics-chosen.loading+.chosen-container-multi .chosen-choices {
  background-image: url("@{base_url}app/img/ajax/16w.gif");
  background-repeat: no-repeat;
  background-position: 95%;
}
.localytics-chosen.loading+.chosen-container-single .chosen-single span {
  background: url("@{base_url}app/img/ajax/16w.gif") no-repeat right;
}
.localytics-chosen.loading+.chosen-container-single .chosen-single .search-choice-close {
  display: none;
}