@import "../../resource/css/init";
.custom-input-wrapper {
    display: inline-block;
    background: #fff;
}

.custom-input-content {
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    color: #333333;
    font: 11pt Tahoma, Helvetica, "Helvetica Neue", Verdana, Arial, sans-serif;
    padding: 1px 4px;
    display: inline-block;
    position: relative;
    height: 27px;
    /*transition: all 0.2s linear 0s;*/
}

.toolbar .custom-input {
    width: 12px;
}

.toolbar .custom-input.year-input {
    width: 24px;
}

.custom-input {

    height: 24px !important;
    width: 15px;
    border: none;
    padding: 0 !important;
    margin: 0;
    text-align: right;
    &.year-input {
        width: 30px;
    }
}



.custom-input:focus {
    background: #3399ff;
    color: #ffffff;
    outline: none;
}

.button-calendar {
    background: url('@{base_url}app/img/navstatinput/arrow-down.png') right center no-repeat;
    border: 1px solid #CCCCCC;
    border-radius: 0 2px 2px 0;
    display: inline-block;
    width: 23px;
    border-left: none;
    vertical-align: bottom;
    padding: 1px 10px 1px 3px;
    overflow: hidden;
    height: 27px;
}

.button-calendar:hover {
    background-color: #8CECFF;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), 0 0 2px 1px rgba(172, 222, 242, 0.3);
    color: #333;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15);
    cursor: pointer;
}

.button-calendar i {
    background: url('@{base_url}app/img/icons/calendar-blue.png') no-repeat center center;
    display: inline-block;
    width: 16px;

}

.custom-input-content.hasCalendar {
    border-right: none;
    padding-right: 1px;
    border-radius: 2px 0 0 2px;
}

.custom-input-calendar {
    position: absolute;
    z-index: 102;
}

.custom-input-content input {
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}