@import "../../resource/css/init";
div.datepicker {
    position: relative;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size: 12px !important;
    min-width: 196px;
    height: 147px;
    position: absolute;
    cursor: default;
    top: 0;
    left: 0;
    display: none;
    background: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border: 1px solid #bbb;
}

.datepickerContainer {
    background: #fff;
    position: absolute;
    top: 5px;
    left: 10px;
    min-width: 176px;
}

.datepickerContainer table {
    width: 100%;
}

.datepickerBorderT {
    position: absolute;
    left: 10px;
    top: 0;
    right: 10px;
    height: 5px;
}

.datepickerBorderB {
    position: absolute;
    left: 10px;
    bottom: 0;
    right: 10px;
    height: 10px;
}

.datepickerBorderL {
    position: absolute;
    left: 0;
    bottom: 10px;
    top: 10px;
    width: 10px;
}

.datepickerBorderR {
    position: absolute;
    right: 0;
    bottom: 10px;
    top: 10px;
    width: 10px;
}

.datepickerBorderTL {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
}

.datepickerBorderTR {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
}

.datepickerBorderBL {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
}

.datepickerBorderBR {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
}

.datepickerHidden {
    display: none;
}

div.datepicker table {
    border-collapse: collapse;
}

div.datepicker a {
    color: #333;
    text-decoration: none;
    cursor: default;
    outline: none;
}

div.datepicker table td {
    text-align: right;
    padding: 0;
    margin: 0;
}

div.datepicker th {
    text-align: center;
    color: #333;
    font-weight: normal;
}

div.datepicker tbody th {
    text-align: left;
}

div.datepicker tbody a {
    display: block;
}

.datepickerDays a {
    width: 20px;
    line-height: 16px;
    height: 16px;
    padding-right: 2px;
}

.datepickerYears a,
.datepickerMonths a {
    width: 44px;
    line-height: 36px;
    height: 36px;
    text-align: center;
}

td.datepickerNotInMonth a {
    color: #999;
}

tbody.datepickerDays td.datepickerSelected {
    background: #8CECFF;
}

tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
    background: #17384d;
}

tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected {
    background: #17384d;
}

div.datepicker a:hover,
div.datepicker a:hover {
    color: #88c5eb;
}

div.datepicker td.datepickerNotInMonth a:hover {
    color: #999;
}

div.datepicker tbody th {
    text-align: center;
}

.datepickerSpace div {
    width: 20px;
}

.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
    text-align: center;
    height: 18px;
    line-height: 20px;
    padding-bottom: 5px;

}

.datepickerGoNext,
.datepickerGoNext,
.datepickerMonth {
    vertical-align: top;
}

.datepickerMonth a {
    padding-top: 1px;
}

.datepickerGoNext a {
    float: right;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.datepickerGoPrev a {
    float: left;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.datepickerGoPrev a {
    background: url('@{base_url}app/img/datapicker/arrow-left.png') no-repeat center;

}

.datepickerGoNext a {
    background: url('@{base_url}app/img/datapicker/arrow-right.png') no-repeat center;

}

.datepickerGoNext a:hover, .datepickerGoPrev a:hover {
    /*background-color: #eee;*/
    cursor: pointer;
}

table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
    display: none;
}

table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
    display: none;
}

table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
    display: none;
}

td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a {
    color: #333;
}

td.datepickerDisabled a:hover {
    color: #333;
}

td.datepickerSpecial a {
    background: #700;
}

td.datepickerSpecial.datepickerSelected a {
    background: #a00;
}

.datapicker-today {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 14;
    color: #fff;
}

.datepickerWeek {
    display: none;
}

.datepickerDoW th:first-child {
    display: none;
}

.datepickerDoW th {
    border-bottom: 1px solid #eee;
    padding-bottom: 2px;
}