@import "../../resource/css/init";
input[type="text"], input[type="password"], textarea, select, button {
    font: 13px Tahoma, Helvetica, "Helvetica Neue", Verdana, Arial, sans-serif;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #333;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    transition: all linear 0.2s;
    position: relative; /*z-index: 2;*/
    background-position: right center;
    padding: 5px 5px 3px;
    margin-top: 3px;
    background-color: #fff;
}

input[readonly] {
    background-color: #eee;
}

input[readonly].choose-select {
    background-color: #fff;
}

input[type="text"]:hover, input[type="password"]:hover, textarea:hover {
    box-shadow: 0 0 1px 2px #DCECF7;
    border: 1px solid #9BCCF2;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    box-shadow: 0 0 1px 2px #C1E0F7;
    border: 1px solid #72baf1;
}

.label {
    margin-bottom: 5px;
}

.forinput {
    display: table;
    width: 100%;
    position: relative;

  & > .custom-input-wrapper {
    margin-top: 3px;
  }

    input {
        border-radius: 0;
        &:last-child {
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
        }
        &:first-child {
            border-bottom-left-radius: 2px;
            border-top-left-radius: 2px;
        }
        z-index: 2;
        position: relative;
    }

    input[type="text"], input[type="password"], input[type="text"] {
        width: 100%;
        display: table-cell;

    }

    textarea {
        width: 100%;
    }

    .input-icon {
        position: absolute;
        font-size: 16px;
        top: 4px;
        right: 30px;
        z-index: 4;
        .button {
            border-radius: 0;
        }
    }

    .input-addon {
        display: table-cell;
        width: 1%;
        vertical-align: middle;
        .button.button-icon {
            margin-top: 3px;
            padding: 0 4px 7px 4px;
            border-left: none;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}

.forselect {
    display: table;
    width: 100%;

    input[type="text"], input[type="password"] {
        width: 100%;
        display: table-cell;
    }
}

.panel {
    .mediform {
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        background: #eee;
        margin: 20px auto;
        border: 1px solid #ddd;
    }

    .mediform h1 {
        margin: 0;
        padding: 0 0 10px 0;
    }

    .mediform .buttons {
        padding: 10px;
        text-align: right;
    }

    .mediform div.label {
        padding: 10px 0 0;
    }

    .mediform fieldset {
        border: 1px solid #D3D6E3;
        border-radius: 2px 2px 2px 2px;
        margin: 3px 0;
        padding: 0 3px 9px 10px;
    }

    .mediform fieldset legend {
        color: #727CA3;
    }

    .input-append .pre-label {
        border: 1px solid transparent;
        border-radius: 0 2px 2px 0;
        color: #777777;
        display: inline-block;
        font-size: 13px;
        height: 17px;
        padding: 4px 5px;
        transition: all 0.2s linear 0s;
    }

    .required_field {
        color: #FF7058;
        line-height: 11px;
        vertical-align: baseline;
    }


}

.radiobuttons {
    margin-top: 3px;
    overflow: hidden;
}

.radiobuttons a {
    border: 1px solid #aaa;
    display: block;
    text-decoration: none;
    float: left;
    background-color: #eee;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 7px 5px rgba(255, 255, 255, 0.6);
    cursor: pointer;
    color: #555;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-width: 1px;
    padding: 4px 10px;
    border-right-width: 0;
    outline: none;
}

.radiobuttons a:first-child {
    -webkit-border-top-left-radius: 2px;
    -moz-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.radiobuttons a:last-child {
    -webkit-border-top-right-radius: 2px;
    -moz-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right-width: 1px;
}

.radiobuttons a.active {
    background: #79D5F2;
    box-shadow: inset 0 0 1px 0 rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(150, 150, 150, 0.25);
    color: #111;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15);
}

.radiobuttons[disabled] {
    background-color: #eee;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 7px 5px rgba(255, 255, 255, 0.1);
    color: #999;
    border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1);
    cursor: default;
}

.radiobuttons input {
    display: none;
}

.chose-input {
    input {
      background: #fff;
    }
}
.select-input-block {
    position: relative;

    .select-input {
        background: url('@{base_url}app/img/form/dropdown.png') no-repeat scroll right center white;
        padding-right: 20px;

        &:hover {
            background: white url('@{base_url}app/img/form/dropdown_hover.png') no-repeat right center;
        }

        &:focus {
            background: white url('@{base_url}app/img/form/dropdown_active.png') no-repeat right center;
        }
        &[disabled] {
            background: #eeeeee url('@{base_url}app/img/form/dropdown.png') no-repeat right center;
        }
    }

    &.invalide .select-input {
        background: #fff0e8 url("/app/img/form/dropdown.png") no-repeat scroll right center;
        color: #700404 !important;
    }
}

.ajax-input {
    background: url('@{base_url}app/img/ajax/16w.gif') no-repeat scroll right center white;
    padding-right: 20px;
}

.select-input-list {
    position: absolute;
    z-index: 4;
    left: 0;
    right: -12px;
    background: #fff;
    max-height: 230px;
    overflow: auto;
    margin-top: 0;
    top: 26px;
    border: 1px solid #aaa;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 0;
    list-style: none; /*padding-left: 0;*/
    min-width: 100px;
    margin-right: 10px;
    font-size: 12px;
    margin-left: 0 !important;

    a {
        display: block;
        padding: 3px 5px;
        text-decoration: none;
        color: #333;
        transition: none;
        white-space: nowrap;
    }

    a.active {
        background: #D5E6F2;
    }

    a:hover {
        background: #CADAE6;
    }

    a[disabled] {
        background: #eee;
        color: #777;
        cursor: default;
    }
}

.panel .object-device-sensors {
    padding: 10px 0;
}

.panel .object-device-sensors .sensor {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px dashed #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    margin: 10px 10px 0;
    padding: 5px 10px 0;
}

.panel .object-device-sensors .sensor .sensor-label {
    background: url("/app/img/icons/usb.png") no-repeat scroll left center transparent;
    height: 26px;
    padding-left: 20px;
    padding-top: 6px;
    display: block;
}

.panel .object-device-sensors .sensor .checkbox {
    margin: 4px 0;
    display: block;
}

.panel .object-device-sensors .sensor .checkbox input {
    vertical-align: middle;
}

.panel .object-device-sensors .sensor .select-input {
    margin-top: 0;
}

.panel .object-device-sensors .fuelGroup h4 {
    font-size: 18px;
    margin: 21px 0 0;
}

.panel .sensor-pin {
    margin-bottom: 5px;
    overflow: hidden;
}

.panel .sensor-pin .number {
    float: left;
    width: 20px;
    padding: 5px;
    margin-right: 10px;
    background: url('@{base_url}app/img/icons/usb.png') no-repeat 5px center;
    padding-left: 24px;
    border: 1px solid transparent;
    border-radius: 4px 4px 4px 4px;
}

.panel .sensor-pin .number.conected {
    background-color: #EEFFCA;
    border: 1px solid #D5E0BC;
}

.panel .sensor-pin .name {
    padding: 5px;
}

.panel .tab .generic-new {
    margin: 0 20px;
    min-width: 600px;
    padding: 0;
}

.panel .tab .generic-new .button-up {
    float: right;
    margin-top: -40px;
}

.panel .tab .generic-new .gen-block {
    border-radius: 2px 2px 2px 2px;
    margin: 0 0 10px;
}

.panel .tab .generic-new .gen-block h2 {
    background: url('@{base_url}app/img/form-sensors/down.png') no-repeat scroll right center transparent;
    border: 1px solid #DDDDDD;
    margin: 0;
    position: relative;
    font-size: 20px;
}

.panel .tab .generic-new .gen-block h2.active {
    background: url('@{base_url}app/img/form-sensors/downs.png') no-repeat scroll right center #f0f0f0;
}

.panel .tab .generic-new .gen-block h2:hover {
    background: #f0f0f0 url('@{base_url}app/img/form-sensors/downa.png') no-repeat right center;
}

.panel .tab .generic-new .gen-block h2 a.instant {
    background-position: right center;
    padding: 10px;
    display: block;
}

.panel .tab .generic-new .gen-block h2 .buttons {
    position: absolute;
    right: 40px;
    top: 5px;
}

.panel .tab .generic-new .gen-block h2 .buttons a {
    padding: 3px 10px;
}

.panel .tab .generic-new .gen-block .block {
    background: #eee;
    border: 1px solid #ddd;
    border-top: none;
}

.panel .tab .generic-new .gen-block div.label {
    padding: 10px 10px 0;
}

.panel .tab .generic-new .block-note {
    color: #888888;
    padding: 20px 10px;
    text-align: center;
}

.panel .tab .generic-new fieldset {
    border: 1px solid #D3D6E3;
    border-radius: 2px 2px 2px 2px;
    margin: 3px 0;
    padding: 0 10px 9px 10px;
}

.panel .tab .generic-new fieldset legend {
    color: #727CA3;
}

.panel .tab .generic-new .sensorBlock {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px dashed #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    margin: 0 10px 10px;
}

.panel .tab .generic-new .sensorBlock .sensor {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0;
}

.panel .tab .generic-new .sensorBlock .fuelGroup .fuel-rule {
    border-bottom: 7px solid #EEEEEE;
    padding-bottom: 0;
    padding-top: 5px;
}

.panel .tab .generic-new .sensorBlock .fuelGroup:last-child .fuel-rule {
    border-bottom: 0 none;
}

.map-mini {
    width: 100%;
    height: 200px;
}

.image-preview {
    width: 300px;
    &.ajax-preloader {
        img {
            visibility: hidden;
        }
    }
}
