@import "../../resource/css/init";
.grid {
    max-width: 100%;
    font-size: 12px;
}

.grid .counter {
    text-align: right;
}

.grid .slick-header {
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f8f9 1%, #eaeced 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f6f8f9), color-stop(99%, #eaeced)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f8f9 1%, #eaeced 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f8f9 1%, #eaeced 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6f8f9 1%, #eaeced 99%); /* IE10+ */
    background: linear-gradient(to bottom, #f6f8f9 1%, #eaeced 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f8f9', endColorstr='#eaeced', GradientType=0); /* IE6-9 */
    border-bottom: 1px solid #ccc;
}

.grid .slick-header .slick-header-column:hover {
    background: #eaeced; /* Old browsers */
    background: -moz-linear-gradient(top, #eaeced 1%, #f6f8f9 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #eaeced), color-stop(99%, #f6f8f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eaeced 1%, #f6f8f9 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eaeced 1%, #f6f8f9 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eaeced 1%, #f6f8f9 99%); /* IE10+ */
    background: linear-gradient(to bottom, #eaeced 1%, #f6f8f9 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeced', endColorstr='#f6f8f9', GradientType=0); /* IE6-9 */
    box-shadow: inset 0 2px 2px 1px rgba(0, 0, 0, 0.05);
    opacity: 1;
    cursor: pointer;
}

.grid .abonent-type {
    font-size: 10px;
    color: #555;
    visibility: hidden;
    margin-left: 5px;
}

.grid .slick-row.active .slick-cell.active {
    background: #c9e1f9 !important;
    box-shadow: inset 0 0 0 1px #3399ff !important;
}

.grid .slick-row.active {
    background: #c9e1f9 !important;
}

.grid .slick-row.active .selected {
    background: #c9e1f9 !important;
}

.grid .slick-row .slick-cell {
    padding-top: 5px;
    height: 30px
}

.grid .slick-row .slick-cell a, .grid .slick-row .slick-cell .icon, .grid .slick-row .slick-cell span {
    vertical-align: middle;
}

.grid .slick-row .slick-cell:hover .abonent-type {
    visibility: visible;
}

.grid .slick-row .slick-cell .guid {
    font-family: consolas, "lucida console", courier, "courier new", monospace;
}

.grid .slick-row .slick-cell.selected {
    background: #faf5c0;
}

.grid .slick-row .slick-cell.editable {
    padding: 2px 12px 2px 0;
}

.grid .slick-row .slick-cell input.editor-text {
    margin: 0;
}

.grid .slick-row.odd {
    background-color: #F7F7F7;
}

.grid .slick-row.no, .grid .slick-row.red {
    background-color: #FFE1D9;
}

.grid .slick-row.no.even {
    background-color: #FADAD2;
}

.grid .slick-row.gray, .grid .slick-row.grey {
    background-color: #dadada;
}

.grid .slick-row.gray.even, .grid .slick-row.grey.even {
    background-color: #d0d0cf;
}

.grid .slick-row:hover {
    background: #ccf7ca;
}

.grid .slick-row:hover .selected {
    background: #ccf7ca;
}

.grid .slick-row.no.even:hover {
    background-color: #ccf7ca;
}

.grid .slick-row.even .selected {
    background: #ede9be;
}

.grid .slick-row.even:hover .selected {
    background: #ccf7ca;
}

.grid .slick-row .full-cell {
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    bottom: 0;
    cursor: pointer;
    vertical-align: middle;
    padding-top: 5px;
}

.ui-jqgrid, .ui-jqgrid-view {
    height: 100%;
}

.slick-row.odd .icon-object-point {
    background-position: left -16px;
}

.slick-row .icon-object-point {
    background-position: left 0;
}

.slick-row:hover .icon-object-point {
    background-position: left -64px;
}

.slick-row.active .icon-object-point {
    background-position: left -96px;
}

.slick-row.active .slick-cell.active .icon-object-point {
    background-position: left -112px;
}

.border-table {
    border: 1px solid #ddd;
}
.block-table {
    height: 150px;
    .grid {
        height: 150px;
    }
}