@import "../../resource/css/init";
i.icon, i.ic { display: inline-block; width: 16px; height: 16px; background-position: center center; background-repeat: no-repeat; }

.icon-save, .icon-ok { background-image: url("@{base_url}app/img/icons/tick.png") !important; }

.button i.icon, i.ic, button i.icon, i.ic { position: relative; left: -2px; }

.icon.icon-cancel { background-image: url('@{base_url}app/img/icons/cross.png') !important; }

.icon-refresh { background-image: url('@{base_url}app/img/icons/refresh.png') !important; }

.icon-history { background-image: url('@{base_url}app/img/icons/history.png') !important; }

.icon-close { background-image: url('@{base_url}app/img/icons/cross.png') !important; }

.icon-close-blue { background-image: url('@{base_url}app/img/icons/cross-blue.png') !important; }

.icon-update { background-image: url('@{base_url}app/img/icons/new-text.png') !important; }

.icon-arrow-right { background-image: url('@{base_url}app/img/icons/arrow.png') !important; }

.icon-arrow-left { background-image: url('@{base_url}app/img/icons/arrow-180.png') !important; }

.ui-jqgrid-btable .icon { width: 16px; height: 16px; position: absolute; overflow: hidden; }

.icon-header-tree-c { background: url('@{base_url}app/img/map/ui/header-collapse.png') center no-repeat !important; }

.icon-header-tree-c:hover { background: url('@{base_url}app/img/map/ui/header-collapse-over.png') center no-repeat !important; }

.icon-header-tree-e { background: url('@{base_url}app/img/map/ui/header-expand.png') center no-repeat !important; }

.icon-header-tree-e:hover { background: url('@{base_url}app/img/map/ui/header-expand-over.png') center no-repeat !important; }

.icon-folder { background-image: url('@{base_url}app/img/map/icons/folder-horizontal.png') !important; }

.icon-folder-open { background-image: url('@{base_url}app/img/map/icons/folder-horizontal-open.png') !important; }

.icon-object-course { background-image: url('@{base_url}app/img/map/ui/object-course.png') !important; width: 16px !important; height: 16px !important; }

.icon-object-state-0 { background-image: url('@{base_url}app/img/map/icons/states/stop.png') !important; }

.icon-object-state-1 { background-image: url('@{base_url}app/img/map/icons/states/parking.png') !important; }

.icon-object-state-2 { background-image: url('@{base_url}app/img/map/icons/states/movement.png') !important; }

.icon-object-state-3 { background-image: url('@{base_url}app/img/map/icons/states/speeding.png') !important; }

.icon-object-state-4 { background-image: url('@{base_url}app/img/map/icons/states/powerOff.png') !important; }

.icon-object-state-5 { background-image: url('@{base_url}app/img/map/icons/states/noSattelite.png') !important; }

.icon-object-state-6 { background-image: url('@{base_url}app/img/map/icons/states/notRecognized.png') !important; }

.icon-object-point { background-image: url('@{base_url}app/img/map/ui/object-point-small.png') !important; }

.icon-on { background-image: url('@{base_url}app/img/map/icons/TreeListCellButtonTrue.png') !important; }

.icon-off { background-image: url('@{base_url}app/img/map/icons/TreeListCellButtonFalse.png') !important; }

.icon-zone-type-0 { background-image: url('@{base_url}app/img/map/icons/layer-shape-ellipse.png') !important; }

.icon-zone-type-1 { background-image: url('@{base_url}app/img/map/icons/layer-shape-polygon.png') !important; }

.icon-zone-type-2 { background-image: url('@{base_url}app/img/map/icons/layer-shape-track.png') !important; }

.icon-stop { background-image: url('@{base_url}app/img/icons/control-stop-square.png') !important; }

.icon-play { background-image: url('@{base_url}app/img/icons/control.png') !important; }

.icon-prev { background-image: url('@{base_url}app/img/icons/control-double-180.png') !important; }

.icon-next { background-image: url('@{base_url}app/img/icons/control-double.png') !important; }

.icon-start { background-image: url('@{base_url}app/img/icons/control-stop-180.png') !important; }

.icon-end { background-image: url('@{base_url}app/img/icons/control-stop.png') !important; }

.icon-hand { background-image: url('@{base_url}app/img/icons/hand.png') !important; }

.icon-ruler { background-image: url('@{base_url}app/img/icons/ruler.png') !important; }

.icon-star { background-image: url('@{base_url}app/img/icons/star.png') !important; }

.icon-arrow-270 { background-image: url('@{base_url}app/img/icons/arrow-270-medium.png') !important; }

.icon-arrow-000 { background-image: url('@{base_url}app/img/icons/arrow-180-medium.png') !important; }

.icon-arrow-180 { background-image: url('@{base_url}app/img/icons/arrow-000-medium.png') !important; }

.icon-magnifer { background-image: url('@{base_url}app/img/icons/magnifier.png'); }

.icon-magnifer-plus { background-image: url('@{base_url}app/img/icons/magnifier-zoom-in.png'); }

.icon-magnifer-minus { background-image: url('@{base_url}app/img/icons/magnifier-zoom-out.png'); }

.icon-panel-close { background-image: url('@{base_url}app/img/map/icons/NavbarPanelClose.png'); }

.icon-lat { background-image: url('@{base_url}app/img/map/icons/LatitudeY.png'); }

.icon-lng { background-image: url('@{base_url}app/img/map/icons/LatitudeX.png'); }

.icon-close-layout-left { background-image: url('@{base_url}app/img/map/icons/NavbarPanelChevronLeft.png'); }

.icon-close-layout-right { background-image: url('@{base_url}app/img/map/icons/NavbarPanelChevronRight.png'); }

.icon-close-layout-up { background-image: url('@{base_url}app/img/map/icons/NavbarPanelChevronUp.png'); }

.icon-close-layout-down { background-image: url('@{base_url}app/img/map/icons/NavbarPanelChevronDown.png'); }

.icon-minimap-arrow-open { background-image: url('@{base_url}app/img/map/icons/ArrowTL.png'); }

.icon-minimap-arrow-close { background-image: url('@{base_url}app/img/map/icons/ArrowBR.png'); }

.icon.gear, .icon-gear { background-image: url('@{base_url}app/img/icons/gear.png'); }

.icon.report, .icon-report { background-image: url('@{base_url}app/img/icons/report.png'); }

.icon.home, .icon-home { background-image: url('@{base_url}app/img/icons/home.png'); }

.icon.trips, .icon-trips { background-image: url('@{base_url}app/img/icons/trips.png'); }

.icon.fuelcard, .icon-fuelcard, .icon.fuelcards, .icon-fuelcards, .icon-fuelcontracts, .icon.fuelcontracts { background-image: url('@{base_url}app/img/icons/fuelcard.png'); }

.icon-fueljournal, .icon.fueljournal { background-image: url('@{base_url}app/img/icons/journal.png'); }

.icon.fuelcard-add, .icon-fuelcard-add { background-image: url('@{base_url}app/img/icons/fuelcard-add.png'); }

.icon.fuelcard-block, .icon-fuelcard-block { background-image: url('@{base_url}app/img/icons/fuelcard-block.png'); }

.icon.fuelcard-edit, .icon-fuelcard-edit { background-image: url('@{base_url}app/img/icons/fuelcard-edit.png'); }

.icon.fuelreports, .icon-fuelreports { background-image: url('@{base_url}app/img/icons/fuelreport.png'); }

.icon.lock, .icon-lock { background-image: url('@{base_url}app/img/icons/lock.png'); }

.icon.unlock, .icon-unlock { background-image: url('@{base_url}app/img/icons/unlock.png'); }

.icon.fuelcard-account, .icon-fuelcard-account { background-image: url('@{base_url}app/img/icons/account.png'); }

.icon.fuelcard-documents, .icon-fuelcard-documents, .icon.fuelcards_documents, .icon-fuelcards_documents { background-image: url('@{base_url}app/img/icons/documents.png'); }

.icon.fuelcard-calc, .icon-fuelcard-calc { background-image: url('@{base_url}app/img/icons/calculator.png'); }

.icon.transactions, .icon-transactions { background-image: url('@{base_url}app/img/icons/transactions.png'); }

.icon.send, .icon-send { background-image: url('@{base_url}app/img/icons/send.png'); }

.icon.trip, .icon-trip { background-image: url('@{base_url}app/img/icons/trips.png'); }

.icon-usb { background-image: url('@{base_url}app/img/icons/usb.png'); }

.icon-add { background-image: url('@{base_url}app/img/icons/plus.png'); }

.icon-edit { background-image: url('@{base_url}app/img/icons/edit.png'); }

.icon-delete { background-image: url('@{base_url}app/img/icons/cross.png'); }

.icon-key { background-image: url('@{base_url}app/img/icons/key.png'); }

.icon-server { background-image: url('@{base_url}app/img/icons/server.png') !important; }

.icon-abonent, .icon-abonents, .icon-clients { background-image: url('@{base_url}app/img/icons/user.png') !important; }

.icon-abonent-type1 { background-image: url('@{base_url}app/img/icons/user.png') !important; }

.icon-abonent-type2 { background-image: url('@{base_url}app/img/icons/user-business.png') !important; }

.icon-expert { background-image: url('@{base_url}app/img/icons/doctor.png') !important; }

.icon-abonent-type3 { background-image: url('@{base_url}app/img/icons/buildings.png') !important; }

.icon-abonent-type4 { background-image: url('@{base_url}app/img/icons/building-low.png') !important; }

.icon-abonent-type5 { background-image: url('@{base_url}app/img/icons/building.png') !important; }

.icon-create_abonent, .icon-abonent_create, .icon-abonent-create { background-image: url('@{base_url}app/img/icons/user-add.png') !important; }

.icon-abonent-edit { background-image: url('@{base_url}app/img/icons/user-edit.png') !important; }

.icon-map, .icon-map, .icon-abonent_map { background-image: url('@{base_url}app/img/icons/map.png') !important; }

.icon-abonents-enable { background-image: url('@{base_url}app/img/icons/flag_green.png') !important; }

.icon-abonents-disable { background-image: url('@{base_url}app/img/icons/flag_red.png') !important; }

.icon-abonent-delete { background-image: url('@{base_url}app/img/icons/user-delete.png') !important; }

.icon-object, .icon-objects { background-image: url('@{base_url}app/img/icons/truck.png') !important; }

.icon-create_object, .icon-object_create, .icon-object-create { background-image: url('@{base_url}app/img/icons/truck_plus.png') !important; }

.icon-object-delete { background-image: url('@{base_url}app/img/icons/truck_minus.png') !important; }

.icon-object-empty { background-image: url('@{base_url}app/img/icons/truck_empty.png') !important; }

.icon-object-change-device { background-image: url('@{base_url}app/img/icons/truck_arrow.png') !important; }

.icon-raw, .icon-sensors, .icon-sensor { background-image: url('@{base_url}app/img/icons/application-monitor.png') !important; }

.icon-list { background-image: url('@{base_url}app/img/icons/application-monitor.png') !important; }

/** Devices */
.icon-device, .icon-devices { background-image: url('@{base_url}app/img/icons/device.png') !important; }

.icon-device-create { background-image: url('@{base_url}app/img/icons/device_add.png') !important; }

.icon-trip-create { background-image: url('@{base_url}app/img/icons/trip_add.png') !important; }

.icon-device-edit { background-image: url('@{base_url}app/img/icons/device_edit.png') !important; }

.icon-trip-edit { background-image: url('@{base_url}app/img/icons/trip_edit.png') !important; }

.icon-device-delete { background-image: url('@{base_url}app/img/icons/device_delete.png') !important; }

.icon-trip-delete { background-image: url('@{base_url}app/img/icons/trip_delete.png') !important; }

.icon-money-summa { background-image: url('@{base_url}app/img/icons/money.png') !important; }

.icon-gasstation-liters { background-image: url('@{base_url}app/img/icons/gasstation.png') !important; }

.icon-device-settings { background-image: url('@{base_url}app/img/icons/device_settings.png') !important; }

.icon-user, .icon-profile { background-image: url('@{base_url}app/img/icons/vcard.png') !important; }

.icon-user-create { background-image: url('@{base_url}app/img/icons/vcard_add.png') !important; }

.icon-user-links, .icon-links { background-image: url('@{base_url}app/img/icons/vcard_link.png') !important; }

.icon-user-reset-password { background-image: url('@{base_url}app/img/icons/vcard_password.png') !important; }

.icon-user-edit { background-image: url('@{base_url}app/img/icons/vcard_edit.png') !important; }

.icon-user-delete { background-image: url('@{base_url}app/img/icons/vcard_delete.png') !important; }

.icon-users { background-image: url('@{base_url}app/img/icons/vcards.png') !important; }

.icon-link-create { background-image: url('@{base_url}app/img/icons/chain-plus.png') !important; }

.icon-link-delete { background-image: url('@{base_url}app/img/icons/chain-minus.png') !important; }

.icon-password { background-image: url('@{base_url}app/img/icons/key.png') !important; }

.icon-pdf { background-image: url('@{base_url}app/img/icons/pdf.png') !important; }

.icon-software { background-image: url('@{base_url}app/img/icons/application-detail.png') !important; }

.icon-record, .icon-expertspec { background-image: url('@{base_url}app/img/icons/application-detail.png') !important; }

.icon-calibration { background-image: url('@{base_url}app/img/icons/database_table.png') !important; }

.icon-tanks, .icon-tank { background-image: url('@{base_url}app/img/icons/database.png') !important; }

.icon-bool-yes { background-image: url('@{base_url}app/img/icons/bullet_black.png') !important; }

.icon-no { background: none !important; /*background-image:url('@{base_url}app/img/icons/bullet_red.png) !important;*/ }

.icon-export { background-image: url('@{base_url}app/img/icons/table-export.png') !important; }

.icon-excel { background-image: url('@{base_url}app/img/icons/excel.png') !important; }

.icon-door { background-image: url('@{base_url}app/img/icons/door-open-in.png') !important; }

.icon-support { background-image: url('@{base_url}app/img/icons/animal-monkey.png') !important; }

.icon-table { background-image: url('@{base_url}app/img/icons/table.png') !important; }

.icon-ajax { background-image: url('@{base_url}app/img/ajax/16w.gif') !important; }

.tab-show .icon-ajax { background-image: url('@{base_url}app/img/ajax/16.gif') !important; }

#tab-bar .focus .tab-show .icon-ajax { background-image: url('@{base_url}app/img/ajax/16w.gif') !important; }

.tab-show .icon-ajax { background-image: url('@{base_url}app/img/ajax/16.gif') !important; }

#tab-bar li:hover .icon-ajax { background-image: url('@{base_url}app/img/ajax/16g.gif') !important; }

.history-ajax .icon-ajax { background-image: url('@{base_url}app/img/ajax/32w.gif') !important; height: 32px; width: 32px; }

form .abonent.icon-edit { width: 24px; display: inline-block; text-decoration: none; background: right center url('@{base_url}app/img/icons/user_edit.png') no-repeat; }

form .device.icon-edit { width: 24px; display: inline-block; text-decoration: none; background: right center url('@{base_url}app/img/icons/device_edit.png') no-repeat; }

.icon-help { background-image: url('@{base_url}app/img/icons/help.png') !important; }

.icon-tab-close, .ui-icon-close { background-image: url('@{base_url}app/img/icons/close.png') !important; }

.icon-tab-close:hover, .ui-state-hover .ui-icon-close { background-image: url('@{base_url}app/img/icons/close-active.png') !important; }

.icon-filter { background-image: url('@{base_url}app/img/icons/funnel.png') !important; }

/** Device status icons  andrey @ 2011.12.06 16:04:14 0 - остановка - оранжевый квадратик 1 = движение - зелёный треугольник 2 = отключение питания - "часики" 3 = потеря GPS - крестик 4 = стоянка с отключенным двигателем (не используется) - оранжевый квадратик */
.icon-device-status0, .icon-device-status0s, .icon-device-status4 { background-image: url('@{base_url}app/img/map/icons/states/stop.png') !important; }

.icon-device-status1 { background-image: url('@{base_url}app/img/map/icons/states/movement.png') !important; }

.icon-device-status2 { background-image: url('@{base_url}app/img/map/icons/states/powerOff.png') !important; }

.icon-device-status3 { background-image: url('@{base_url}app/img/map/icons/states/noSattelite.png') !important; }

.icon-to-idea { background-image: url('@{base_url}app/img/icons/to_idea.png') !important; }

.icon.icon-guid { background-image: url('@{base_url}app/img/icons/guid.png') !important; }

.icon.icon-copyexcel { background-image: url('@{base_url}app/img/icons/clipboard_excel.png') !important; }

.icon.icon-chart, .icon.icon-chartbox { background-image: url('@{base_url}app/img/icons/chart.png') !important; }

.icon-form { background-image: url('@{base_url}app/img/icons/application-form.png') !important; }
.icon-form-create { background-image: url('@{base_url}app/img/icons/application-form-create.png') !important; }
.icon-form-edit { background-image: url('@{base_url}app/img/icons/application-form-edit.png') !important; }
.icon-form-delete { background-image: url('@{base_url}app/img/icons/application-form-delete.png') !important; }
.icon-frame { background-image: url('@{base_url}app/img/icons/application-sub.png') !important; }
.icon-blog { background-image: url('@{base_url}app/img/icons/application-blog.png') !important; }
.icon-blog-create { background-image: url('@{base_url}app/img/icons/application-blog-create.png') !important; }
.icon-blog-edit { background-image: url('@{base_url}app/img/icons/application-blog-edit.png') !important; }
.icon-blog-delete { background-image: url('@{base_url}app/img/icons/application-blog-delete.png') !important; }
.icon-applications { background-image: url('@{base_url}app/img/icons/applications.png') !important; }
.icon-applications-create { background-image: url('@{base_url}app/img/icons/applications-create.png') !important; }
.icon-applications-edit { background-image: url('@{base_url}app/img/icons/applications-edit.png') !important; }
.icon-applications-delete { background-image: url('@{base_url}app/img/icons/applications-delete.png') !important; }
.icon-applications-child-create { background-image: url('@{base_url}app/img/icons/applications-child-create.png') !important; }



.icon-tile-horizontal { background-image: url('@{base_url}app/img/icons/application-tile-horizontal.png') !important; }
.icon-application-split { background-image: url('@{base_url}app/img/icons/application-split.png') !important; }
.icon-application-split-create { background-image: url('@{base_url}app/img/icons/application-split-create.png') !important; }
.icon-application-split-edit { background-image: url('@{base_url}app/img/icons/application-split-edit.png') !important; }
.icon-application-split-delete { background-image: url('@{base_url}app/img/icons/application-split-delete.png') !important; }

.icon-application-list { background-image: url('@{base_url}app/img/icons/application-list.png') !important; }

.icon-application-sidebar-list { background-image: url('@{base_url}app/img/icons/application-sidebar-list.png') !important;}
.icon-application-sidebar-list-create { background-image: url('@{base_url}app/img/icons/application-sidebar-list-create.png') !important; }
.icon-application-sidebar-list-edit { background-image: url('@{base_url}app/img/icons/application-sidebar-list-edit.png') !important; }
.icon-application-sidebar-list-delete { background-image: url('@{base_url}app/img/icons/application-sidebar-list-minus.png') !important; }
.icon-calendar {background-image: url('@{base_url}app/img/icons/calendar-blue.png')}
.icon-clock {background-image: url('@{base_url}app/img/icons/clock.png')}
.icon-resource-monitor {background-image: url('@{base_url}app/img/icons/resource-monitor.png')}

.icon-fuelcard-group {background-image: url('@{base_url}app/img/icons/fuelcard_group.png')}
.icon-fuelcard-group-change {background-image: url('@{base_url}app/img/icons/fuelcard_group_change.png')}
.icon-fuelcard-group-create {background-image: url('@{base_url}app/img/icons/fuelcard_group_add.png')}
.icon-fuelcard-group-edit {background-image: url('@{base_url}app/img/icons/fuelcard_group_edit.png')}
.icon-fuelcard-group-delete {background-image: url('@{base_url}app/img/icons/fuelcard_group_delete.png')}

.icon-drop-down {background-image: url('@{base_url}app/img/icons/drop-down.png')}
.expanded .icon-drop-down {background-image: url('@{base_url}app/img/icons/drop-up.png')}.icon-fuelcard-group-delete {background-image: url('@{base_url}app/img/icons/fuelcard_group_delete.png')}
.icon-user-medical {background-image: url('@{base_url}app/img/icons/user-medical.png')}
.icon-user-business-gray-boss {background-image: url('@{base_url}app/img/icons/user-business-gray-boss.png')}
.icon-calendar-task {background-image: url('@{base_url}app/img/icons/calendar-task.png')}
.icon-user-black {background-image: url('@{base_url}app/img/icons/user-black.png')}

.icon-menu {}
.icon-arrow-left-white {background-image: url('@{base_url}app/img/icons/arrow-left-white.png')}
.icon-arrow-right-white {background-image: url('@{base_url}app/img/icons/arrow-right-white.png')}

.icon-wrench {background-image: url('@{base_url}app/img/icons/wrench.png')}
.icon-funnel_pencil {background-image: url('@{base_url}app/img/icons/funnel_pencil.png')}

.icon-documents-stack {background-image: url('@{base_url}app/img/icons/documents-stack.png')}
.icon-x-ray {background-image: url('@{base_url}app/img/icons/x-ray.png')}
.icon-balloon-box {background-image: url('@{base_url}app/img/icons/balloon-box.png')}
.icon-moneys {background-image: url('@{base_url}app/img/icons/moneys.png')}
.icon-money {background-image: url('@{base_url}app/img/icons/money-paper.png')}
.icon-calendar-insert {background-image: url('@{base_url}app/img/icons/calendar-insert.png')}
.icon-calendar-delete {background-image: url('@{base_url}app/img/icons/calendar-delete.png')}
.icon-service {background-image:  url('@{base_url}app/img/icons/service-bell.png')}

