@import "../../resource/css/init";
.upPanel { /* Top nested in right pane */ height: 150px; /* Initial height */ min-height: 75px; /* Minimum height */ }
.downPanel { background: #eef; }
.leftPanel { width: 200px; overflow: hidden; }
#content .rightPanel { overflow: hidden; }
.layoutCaption { text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7); }
.blockCaption { width: 100%; font-size: 11px; overflow: hidden; font-weight: bold; color: #888; height: 32px; background: white; /* Old browsers */ background: -moz-linear-gradient(top, white 0%, #f4f4f4 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f4f4f4)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, white 0%, #f4f4f4 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, white 0%, #f4f4f4 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, white 0%, #f4f4f4 100%); /* IE10+ */ background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0); /* IE6-9 */ border-bottom: 1px solid #ccc; }
.downPanel .blockCaption { height: 22px; background: #f4f4f4; /* Old browsers */ background: -moz-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e0e0e0)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%); /* IE10+ */ background: linear-gradient(to bottom, #f4f4f4 0%, #e0e0e0 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e0e0e0', GradientType=0); /* IE6-9 */ }
.blockCaption .title { padding: 8px 5px; float: left; }
.downPanel .blockCaption .title { padding: 3px 5px; }
.blockCaption .button { width: 24px; height: 24px; padding: 2px 3px; float: right; font-size: 1px; margin-right: 2px; min-height: 0; margin-top: 5px; }
.downPanel .blockCaption .button { margin-top: 1px; padding: 0px 2px; }
.blockCaption .button i { left: 0 !important; }
.close-layout { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #f4f4f4; /* Old browsers */ background: -moz-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e0e0e0)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #f4f4f4 0%, #e0e0e0 100%); /* IE10+ */ background: linear-gradient(to bottom, #f4f4f4 0%, #e0e0e0 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#e0e0e0', GradientType=0); /* IE6-9 */ font-weight: bold; color: #888; }
.close-layout a.button { position: relative; z-index: 100; box-shadow: none; padding: 6px 4px 6px 4px; border: none; border-radius: 0; }
.close-layout.layout-horizontal a.button { position: absolute; right: 0; padding: 1px 8px; margin-top: 1px; }
.close-layout .vertical-caption, .close-layout .horizontal-caption { position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
.close-layout .vertical-caption span { position: absolute; top: 50%; margin-top: -14px; height: 52px; font-size: 11px; display: block; z-index: 10; }
.close-layout .horizontal-caption span { position: absolute; left: 5px; top: 3px; height: 22px; font-size: 11px; display: block; z-index: 10; }
.close-layout .vertical-caption-left span { -ms-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg); margin-left: -11px; text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.7); }
.close-layout .vertical-caption-right span { -ms-transform: rotate(90deg); -moz-transform: rotate(90deg); -webkit-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); margin-left: -18px; text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.7); }
.close-layout .horizontal-caption-down { border-top: 1px solid #cccccc; }
.close-layout .vertical-caption-left { border-right: 1px solid #cccccc; }
.close-layout .vertical-caption-right { border-left: 1px solid #cccccc; }

