@import "../../resource/css/init";
@import "libs/animation";
*, *::after, *::before {
    box-sizing: border-box;
}

@font-face {
    font-family: "Open Sans Light";
    src: url('@{base_url}app/font/OpenSans-Light.ttf');
}

@font-face {
    font-family: "Open Sans Regular";
    src: url('@{base_url}app/font/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "Open Sans Semibold";
    src: url('@{base_url}app/font/OpenSans-Semibold.ttf');
}

@font-face {
    font-family: "Open Sans Bold";
    src: url('@{base_url}app/font/OpenSans-Bold.ttf');
}

.panel #services {
    border: 1px solid #aaa;
    border-top: 1px solid #ddd;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.button.no-border, .toolbar .toolbar-item a {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid transparent;
    box-shadow: none;
}

.button:hover, .toolbar .toolbar-item a:hover, .hover.button, .toolbar .toolbar-item a.hover {
    background-color: #bfd6e3;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 7px 5px rgba(212, 233, 245, 0.6), 0 0 2px 1px rgba(172, 222, 242, 0.3);
    color: #333;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
    border-width: 1px;
    border-style: solid;
}

.button:focus, .toolbar .toolbar-item a:focus {
    border: 1px solid #5BADF0;
    box-shadow: 0 0 1px 2px rgba(140, 236, 255, 0.5);
}

.success.button:hover, .toolbar .toolbar-item a.success:hover, .success.hover.button, .toolbar .toolbar-item a.success.hover,
.create.button:hover, .toolbar .toolbar-item a.create:hover, .create.hover.button, .toolbar .toolbar-item a.create.hover, .ok.button:hover,
.toolbar .toolbar-item a.ok:hover, .ok.hover.button, .toolbar .toolbar-item a.ok.hover {
    background-color: #D9F0A1;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 7px 5px rgba(242, 255, 209, 0.6), 0 0 2px 1px rgba(217, 240, 161, 0.5);
    color: #333;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15);
}

.success.button:focus, .toolbar .toolbar-item a.success:focus, .create.button:focus, .toolbar .toolbar-item a.create:focus, .ok.button:focus, .toolbar .toolbar-item a.ok:focus {
    border: 1px solid #A7C953;
    box-shadow: 0 0 1px 2px rgba(217, 240, 161, 0.5);
}

.delete.button:hover, .toolbar .toolbar-item a.delete:hover, .delete.hover.button, .toolbar .toolbar-item a.delete.hover, .cancel.button:hover, .toolbar .toolbar-item a.cancel:hover, .cancel.hover.button, .toolbar .toolbar-item a.cancel.hover, .close.button:hover, .toolbar .toolbar-item a.close:hover, .close.hover.button, .toolbar .toolbar-item a.close.hover {
    background-color: #FFD4B5;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 7px 5px rgba(255, 234, 219, 0.6), 0 0 2px 1px rgba(255, 219, 194, 0.6);
    color: #333;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15);
}

.delete.button:focus, .toolbar .toolbar-item a.delete:focus, .cancel.button:focus, .toolbar .toolbar-item a.cancel:focus, .close.button:focus, .toolbar .toolbar-item a.close:focus {
    border: 1px solid #D15D4B;
    box-shadow: 0 0 1px 2px rgba(255, 169, 156, 0.5);
}

.button:active, .panel .toolbar .toolbar-item a:active, .active.button, .panel .toolbar .toolbar-item a.active {
    background-color: #EDC98E;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 7px 5px rgba(250, 232, 202, 0.6), 0 0 1px 1px #fae6c5;
}

[disabled].button, .panel .toolbar .toolbar-item a[disabled] {
    background: transparent;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 7px 5px rgba(255, 255, 255, 0.1);
    color: #999;
    border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1);
    cursor: default;
    border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1);
}

html, body {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: 13px/150% Tahoma, Helvetica, "Helvetica Neue", Verdana, Arial, sans-serif;
    cursor: default;
    background: #fff;
    text-overflow: ellipsis;
}

body.back {
    background: #151515 top left url('@{base_url}app/img/bg.png') repeat;
}

h1, h2, h3 {
    font-weight: normal;
    font-family: "PT Sans", Helvetica, Arial, Tahoma;
    font-size: 19.8px;
    letter-spacing: -0.02em;
}

a, a:active a:visited {
    -webkit-transition: color linear 0.2s, background linear 0.2s;
    -moz-transition: color linear 0.2s, background linear 0.2s;
    -ms-transition: color linear 0.2s, background linear 0.2s;
    -o-transition: color linear 0.2s, background linear 0.2s;
    transition: color linear 0.2s, background linear 0.2s;
    color: #1d63b8;
    cursor: pointer;
    text-decoration: none;
}

a:hover, a:active a:visited:hover {
    color: #0d2c51;
}

a *, a:active a:visited * {
    vertical-align: middle;
}

.preload {
    top: 50%;
    left: 50%;
    height: 100px;
    width: 400px;
    margin-top: -50px;
    margin-left: -200px;
    background: #eee;
    border: 1px solid #fff;
    position: absolute;
    z-index: 100;
    .text {
        font-size: 18pt;
        color: #666;
        margin-top: 20px;
        padding-left: 80px;
        margin-left: 20px;
        background: url('@{base_url}app/img/ajax/64.gif') no-repeat left center;
        height: 64px;

        span {
            opacity: 0;
            &.show {
                opacity: 1;
                transition: opacity 0.4s linear;
            }
        }
    }

    .load {
        color: #999;
        margin-left: 100px;
        margin-top: -40px;
    }

    .point-pulse {
        width: 26px;
        height: 26px;
        z-index: 1;
        left: 34px;
        top: 52px;
        background: #103563;
        border: #2094e9;
        -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        -webkit-animation: pulse 1s infinite ease-out;
        -moz-animation: pulse 1s infinite ease-out;
        -o-animation: pulse 1s infinite ease-out;
        animation: pulse 1s infinite ease-out;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        position: absolute;
    }

    .loader {
        height: 70px;
        width: 70px;
        position: absolute;
        background: #eeeeee url('@{base_url}app/img/ajax/32.gif') no-repeat center;
        top: 15px;
        left: 15px;
        z-index: 10;
        -webkit-animation: hide 1s infinite ease-out;
        -moz-animation: hide 1s infinite ease-out;
        -o-animation: hide 1s infinite ease-out;
        animation: hide 1s infinite ease-out;
    }
}
.ajax-preloader {
    background-image: url('@{base_url}app/img/ajax/32.gif');
    background-repeat: no-repeat;
    background-position: center;
}

.preload .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.window {
    display: inline-block;
    position: absolute;
    max-width: 1100px;
    min-width: 400px;
}

.window .content {
    background: #fff;
    position: relative;
    z-index: 101;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

.window .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.window .out-form {
    width: 460px;
}

.window .banner {
    background: url("/resource/img/logo.png") no-repeat scroll 10px 9px #404040;
    height: 63px;
    overflow: hidden;
}

.window .banner h1 {
    text-indent: 165px;
    color: #eee;
    margin-top: 25px;
}

.window .banner.small {
    background-image: none;
    height: 38px;
    padding: 10px;
}

.window .banner.small h1 {
    text-indent: 0;
    text-align: center;
    margin: 0;
}

.window .form {
    min-height: 90px;
    padding: 15px 15px 10px;
}

.window .form .label {
    position: relative;
    padding-left: 150px;
}

.window .form.horizontal .label span {
    display: block;
    width: 150px;
    left: 0;
    margin-top: 8px;
    position: absolute;
}

.window .form.small {
    min-height: 0;
    padding: 20px 15px;
}

.window .form.small .label {
    padding-left: 0;
}

.window .mediform {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.window .buttons {
    padding: 0 15px 10px;
}

.window .afterButtons {
    background: #f1f1f1;
    padding: 5px 15px 10px;
    border-top: 1px solid #ddd;
    line-height: 22px;
    font-size: 11px;
}

.window .status.ajax {
    background: url(../img/ajax/32w.gif) 50px center no-repeat;
}

.window .status.complete {
    background: url(../img/window/tick.png) 50px center no-repeat;
}

.window .status.fail {
    background: url(../img/window/cross.png) 50px center no-repeat;
}

.window .goodregistration {
    background: url(../img/window/tick.png) 50px center no-repeat;
    padding-left: 132px;
}

.window .checkconfirm .status {
    width: 150px;
    float: left;
    min-height: 34px;
}

.window .checkconfirm .text {
    width: 218px;
    float: left;
    height: 34px;
    display: table;
}

.window .checkconfirm .text span {
    display: table-cell;
    vertical-align: middle;
}

.window .showErrorInforamtion {
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px dashed #1D63B8;
}

.window .showErrorInforamtion:hover {
    border-bottom: 1px dashed #0d2c51;
}

.window .errorInformation {
    padding: 10px;
    max-height: 200px;
    overflow: scroll;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 10px 0 0;
}

.window .table-border {
    border: 1px solid #CCCCCC;
}

.window .calibration-table {
    border-collapse: collapse;
    margin-right: 20px;
    max-height: 400px;
    width: 100%;
}

.window .calibration-table thead th {
    font-weight: normal;
    height: 20px;
    vertical-align: top;
}

.window .calibration-table th, .window .calibration-table td {
    padding: 4px;
    border: 1px solid #CCCCCC;
}

.window .calibration-table th.active, .window .calibration-table td.active {
    background: none repeat scroll 0 0 #E9F1F5;
}

.window .window-content {
    position: relative;

    .tab {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

.window .tab-content {
    width: 80%;
}

.button {
    background-color: #eee;
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 7px 5px rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    cursor: pointer;
    color: #555;
    font-size: 13px; /*font-weight: bold;;*/
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.25);
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, sans-serif; /*border: 1px solid #084B75;*/
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-width: 1px;
    border-style: solid;
    padding: 4px 10px;
    outline: none;
    text-decoration: none;
    display: inline-block;
    background: rgba(238, 238, 238, 0.5);
    min-height: 18px;
}

.button.button-icon {
    text-align: center;
    padding: 2px 4px;
}

.button.button-icon i.icon {
    position: static;
}

.button * {
    vertical-align: middle;
}

.button.toggle.press {
    border-color: rgba(255, 255, 255, 0.4) rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.45) !important;
    border-width: 1px !important;
    border-style: solid !important;
    background: #bfd6e3 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 4px 5px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.2) inset 0 7px 5px rgba(209, 247, 255, 0.6) !important;
    color: #333;
}

.button.toggle.press:focus {
    border: 1px solid #fff !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), inset 0 4px 5px rgba(0, 0, 0, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.2) inset 0 7px 5px rgba(209, 247, 255, 0.6) !important;
}

.newversion {
    position: fixed;
    z-index: 16;
    width: 400px;
    top: 31px;
    left: 50%;
    margin-left: -200px;
    background: #FFEEB5;
    padding: 5px 10px;
    text-align: center;
    border: 1px solid #FFFAEB;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.2);
    -webkit-animation: backcolor_newversion 5s infinite ease;
    -o-animation: backcolor_newversion 5s infinite ease;
    animation: backcolor_newversion 5s infinite ease;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top: none;
    display: none;
}

.panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;

    #header {
        overflow: hidden;
        width: 100%;
        background: #535353;
        height: 31px;
        line-height: 10px;
    }

    #header button {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 0;
        padding: 2px 7px 2px;
        margin: 2px;
        background: transparent;
        height: 27px;
        width: 50px;
        border: none;
        -webkit-transition: box-shadow linear 0.2s, background linear 0.2s, border linear 0.2s;
        -moz-transition: box-shadow linear 0.2s, background linear 0.2s, border linear 0.2s;
        -ms-transition: box-shadow linear 0.2s, background linear 0.2s, border linear 0.2s;
        -o-transition: box-shadow linear 0.2s, background linear 0.2s, border linear 0.2s;
        transition: box-shadow linear 0.2s, background linear 0.2s, border linear 0.2s;
        background-image: url('@{base_url}app/img/menu/logoSmall.png') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        cursor: pointer;
        border-top: 2px solid transparent;
    }

    #header button:hover {
        background: #dedede;
        border-top: 2px solid #6a9cde;
    }

    #header button:active, .panel #header button.active {
        position: relative;
        background: #FFA03F;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }

    #header .tab-list {
        position: absolute;
        display: block;
        right: 0;
        top: 31px;
        min-width: 200px;
        background: #fff;
        margin: 0;
        padding: 0;
        z-index: 100;
        list-style: none;
    }

    #header .tab-list a {
        padding: 7px;
        padding-left: 27px;
        display: block;
        text-indent: -20px;
    }

    #header .tab-list a:hover {
        background: #c1cad3;
    }

    .panel #header .tab-list a.selected {
        background: #9EB8D1;
    }

    #header .tab-arrow {
        position: absolute;
        display: block;
        height: 25px;
        top: 3px;
        width: 20px;
        border-radius: 1px;
    }

    #header .tab-arrow.left-arrow {
        background: url('@{base_url}app/img/menu/lArrow.png') center no-repeat;
        left: 54px;
    }

    #header .tab-arrow.right-arrow {
        background: url('@{base_url}app/img/menu/rArrow.png') center no-repeat;
        right: 40px;
    }

    #header .tab-arrow:hover:not(.disabled) {
        background-color: #1c97ea;
    }

    #header .tab-arrow.disabled {
        opacity: 0.5;
        cursor: default;
    }

    #header .tab-list-button {
        position: absolute;
        right: 3px;
        top: 3px;
        width: 34px;
        height: 25px;
        background: transparent url('@{base_url}app/img/menu/TabList.png') center no-repeat;
        display: block;
        border-radius: 1px;
    }

    #header .tab-list-button:hover {
        background-color: #1c97ea;
    }

    #header .tab-update-button {
        position: absolute;
        right: 37px;
        top: 3px;
        width: 34px;
        height: 25px;
        background: transparent url('@{base_url}app/img/menu/update.png') center no-repeat;
        display: block;
        border-radius: 1px;
    }

    #header .tab-update-button:hover {
        background-color: #1c97ea;
    }

    #header #tab-wrapper {
        overflow: hidden;
        position: absolute;
        bottom: 0;
        left: 54px;
        right: 43px;
        margin: 0;
        padding: 0;
        height: 32px;
        top: 0;
    }

    #header #tab-wrapper.arrows {
        left: 78px;
        right: 62px;
    }

    #header #tab-bar {
        margin: 0;
        padding: 0;
        list-style: none;
        height: 32px;
        white-space: nowrap;
    }

    #header #tab-bar li {
        display: inline-block;
        position: relative;
        margin: 2px 2px 0 0;
        height: 29px;
        border-top: 2px solid transparent;
    }

    #header #tab-bar li.focus, #header #tab-bar li.focus:hover {
        background: #fff;
        padding-right: 22px;
        border-top: 2px solid #6A9CDE;
    }

    #header #tab-bar li.focus a.tab-show, #header #tab-bar li.focus:hover a.tab-show {
        color: #333;
        padding: 6px 0 6px 5px;
    }

    #header #tab-bar li.focus a.tab-close, #header #tab-bar li.focus:hover a.tab-close {
        display: block;
    }

    #header #tab-bar li:hover, #header #tab-bar li.hover {
        padding-right: 22px;
        background: #aaa;
        border-top: 2px solid #777;
    }

    #header #tab-bar li:hover a.tab-show, #header #tab-bar li.hover a.tab-show {
        color: #333;
        padding: 6px 0 6px 5px;
    }

    #header #tab-bar li:hover a.tab-close, #header #tab-bar li.hover a.tab-close {
        display: block;
    }

    #header #tab-bar li a.tab-show {
        border-radius: 2px 0 0 0;
        display: block;
        padding: 6px 22px 6px 5px;
        font-size: 85%;
        color: #fff;
        white-space: nowrap;
    }

    #header #tab-bar li a.tab-show i, #header #tab-bar li a.tab-show span {
        vertical-align: middle;
        position: relative;
        top: -1px;
    }
    #header #tab-bar li a.tab-show i {
        margin-right: 4px;
    }

    #header #tab-bar li a.tab-close {
        display: none;
        position: absolute;
        top: 7px;
        right: 2px;
    }

    #header #tab-bar li a.tab-close i {
        display: block;
        padding: 6px 4px 6px 3px;
    }

    #content {
        position: absolute;
        top: 31px;
        left: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        overflow: auto;
    }

    input[type="text"], input[type="password"], textarea {
        width: 100%;

    }

    #services {
        position: fixed;
        z-index: 19;
        left: 2px;
        top: 30px;
        margin: 0;
        padding: 0;
        background: #fff;
        background: rgba(255, 255, 255, 0.95);
        list-style: none;
        font-size: 85%;
        display: none;
    }

    #services .parent-menu {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
        display: block;
        padding: 4px 8px;
    }

    #services a span, #services a i {
        vertical-align: middle;
    }

    #services a i {
        margin-right: 5px;
    }

    #services a:hover {
        background: #c1cad3;
    }

    #services .server {
        display: block;
        padding: 4px 8px;
    }

    #services .server span, #services .server i {
        vertical-align: middle;
    }

    #services .server i {
        margin-right: 5px;
    }

    #services .parent-menu {
        color: #1d63b8;
        cursor: pointer;
        background: url('@{base_url}app/img/icons/menu-arrow.png') no-repeat right;
        position: relative;
        display: block;
        width: 200px;
    }

    #services .parent-menu:hover {
        background: #c1cad3 url('@{base_url}app/img/icons/menu-arrow.png') no-repeat right;
    }

    #services .parent-menu > ul {
        display: none;
    }

    #services .parent-menu > ul {
        position: absolute;
        top: -1px;
        left: 216px;
        background: #fff;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
        padding: 0;
    }

    #services > li > .parent-menu > ul {
        /*left: 200px;*/
        top: 0;
    }

    #services .parent-menu > ul > a, #services .parent-menu > ul > span, #services a {
        width: 200px;
        display: block;
        padding: 4px 8px;
    }

    #services .parent-menu .child-menu {
        list-style: none;
        max-height: 300px;
        overflow: auto;
    }

    #services .parent-menu:hover > ul {
        display: block;

    }

    h1 {
        font-size: 22px;
        margin-left: 20px;
    }

    h1, .panel h2, .panel h3, .panel h4 {
        color: #33596B;
        font-family: "Open Sans", Arial, Tahoma, Verdana, sans-serif;
        font-weight: normal;
        text-shadow: 0 1px 0 #FFFFFF;
    }

    .toolbar .toolbar-item.input {
        padding-right: 12px;
    }

    .tollbar-sep {
        background: none repeat scroll 0 0 #D8E0EB;
        border-bottom: 1px solid #BBBBBB;
        border-top: 1px solid #E8E8E8;
        height: 4px;
    }

    .tab {
        position: absolute;
        background: #fff;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        &.overflow-hidden {
            overflow: hidden;
        }
    }

    .tab .info-message {
        padding: 10px;
        background: #f6f3d5;
    }

    .tab .info-message h3 {
        text-shadow: none;
        margin-top: 0;
    }

    .tab.map, .panel .tab.report {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;
    }

    .ajax-overlay {
        position: fixed;
        top: 31px;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.5) url('@{base_url}app/img/ajax/32w.gif') no-repeat center;
        z-index: 3;
    }

    .downpanel {
        background: none repeat scroll 0 0 #FAFAFA;
        border: 1px solid #DFDFDF;
        border-radius: 2px 2px 2px 2px;
        clear: both;
        padding: 10px;
    }

    .innerBlock {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    a.selector {
        padding-right: 16px !important;
        background: url('@{base_url}app/img/map/ui/arrow-down.png') right center no-repeat;
    }

    a.selector:hover {
        background-image: url('@{base_url}app/img/map/ui/arrow-down.png');
        background-position: right center;
        background-repeat: no-repeat;
    }

    .history-version {
        padding-left: 20px;
    }

}

.toolbar {
    padding: 2px 5px 2px 0;
    background: white; /* Old browsers */
    background: -moz-linear-gradient(top, white 0%, #f4f4f4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #f4f4f4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #f4f4f4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, white 0%, #f4f4f4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, white 0%, #f4f4f4 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4', GradientType=0); /* IE6-9 */
    border-bottom: 1px solid #ccc;
    max-height: 34px;
    overflow: hidden;
    transition: 0.2s;
    &.expanded {
        max-height: 102px;
        transition: 0.2s;
    }
}

.toolbar .toolbar-item {
    display: inline-block;
    padding: 0 3px;
    float: left;
}

.toolbar .toolbar-item a {
    font-size: 11px;
    height: 29px;
    padding: 4px 10px;
}

.toolbar .custom-input-wrapper {
    margin-top: 1px;
}

.toolbar .toolbar-item.label span {
    position: relative;
    top: 5px;
}

.toolbar .toolbar-item a i {
    margin-right: 3px;
}

.toolbar .toolbar-item a.button-icon {
    text-align: center;
    padding: 3px 8px;
    height: 29px;
}

.toolbar .toolbar-item a.button-icon i {
    margin-right: 0;
    vertical-align: middle;
}

.toolbar .toolbar-item a[disabled] {
    border-color: transparent !important;
}

.toolbar .toolbar-item a:not([disabled]):hover, .panel .toolbar .toolbar-item a.hover:not([disabled]) {
    background-color: #bfd6e3;
    box-shadow: none;
    color: #333;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.15);
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15);
    border-width: 1px;
    border-style: solid;
}

.toolbar .toolbar-item.separator {
    border-right: 1px solid #ccc;
    padding: 0;
    width: 1px;
    height: 20px;
    position: relative;
    top: 6px;
    margin: 0 2px 6px;
    &.expanded {
        margin: 0 2px 0;
    }
}

.toolbar .toolbar-item.checkbox {
    margin-top: 5px;
}

.toolbar .toolbar-item.checkbox * {
    vertical-align: middle;
}

.toolbar .toolbar-item .custom-input, .toolbar .toolbar-item .select-input {
    font-size: 11px;
}

.toolbar .toolbar-item {
    .input-icon {
        top: 4px;
        right: 29px;
        a.button-icon {
            height: 21px;
            padding: 1px 5px;

        }
    }
    .forinput .input-addon {
        .button.button-icon {
            padding: 0 4px 5px;
            height: 24px;
            width: 27px
        }
    }
}

.toolbar .toolbar-item.selectbox {
    position: relative;
    top: 4px;
}

.toolbar .select-input-block {
    display: inline-block;
    width: 100px;
}

.toolbar .select-input-block .select-input {
    margin-top: 0;
}

.toolbar .toolbar-item input {
    padding: 3px;
}

#tab-default {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

*[disabled] .icon, *[disabled] .ic {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 0.5;
}

.hidden {
    display: none !important;
}

.space {
    height: 10px;
    width: 100%;
}

.notpadding {
    padding: 0 !important;
}

.ajax32 {
    background: url('@{base_url}app/img/ajax/32w.gif') no-repeat center;
}

.hint, .menu ul, #services, .context-menu-list, .tab-list {
    border: 1px solid #aaa;
    border-top: 1px solid #ddd;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.menu ul, .context-menu-list {
    list-style: none;
    background: url("/app/img/menu/bg.gif") repeat-y scroll left center white; /*background: rgba(255, 255, 255, 0.95);*/
    font-size: 85%;
    min-width: 150px;
    position: absolute;
    z-index: 19;
    margin: 0;
    padding: 1px;
}

.menu ul a, .context-menu-item {
    text-decoration: none;
    color: #222;
    display: block;
    padding: 5px;
    padding-left: 29px;
    border: 1px solid transparent;
    background-position: 2px center;
    background-repeat: no-repeat;
    line-height: 12px;
    font-size: 11px;
}

.menu ul a:hover, .context-menu-item.hover {
    background-color: #ffeec2;
    border: 1px solid #9EB8D1;
    cursor: pointer;
}

.context-menu-list li.selected {
    background-image: url('@{base_url}app/img/map/ui/menu_sel.png');
    background-repeat: no-repeat;
    background-position: 2px center;
}

.context-menu-list li.selected:hover {
    background-image: url('@{base_url}app/img/map/ui/menu_sel_active.png');
}

.jgrowl {
    border: none !important;
    background: #fff !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    min-width: 250px !important;
}

.jgrowl.error .qtip-titlebar {
    background: #6b1403 !important;
    color: #fff !important;
}

.jgrowl.message .qtip-titlebar {
    background: #2f6b03 !important;
    color: #fff !important;
}

.jgrowl .qtip-title {
    font-weight: normal !important;
}

.jgrowl .qtip-content {
    background: #fff !important;
    padding: 10px !important;
    text-align: center;
}

.jgrowl .qtip-close {
    border: none !important;
    background: none !important;
    margin-top: -7px !important;
}

.jgrowl .ui-icon {
    text-indent: -100px !important;
    overflow: hidden !important;
    width: 16px !important;
    height: 16px !important;
    background-position: 0 0 !important;
}

.compact {
    padding: 2px 2px 0 2px !important;
}

.compact a {
    padding: 5px 7px !important;
}

.compact a span {
    display: none !important;
}

.compact a i {
    margin-right: 0 !important;
    left: 0 !important;
}

.compact .toolbar-item {
    padding: 0 2px !important;
}

.compact input.search {
    max-width: 100px;
}

#oldversion {
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    width: 1000px;
}

#oldversion h3 {
    font-size: 27px;
    color: #777;
    margin-top: 0;
}

#oldversion .sorry {
    color: #333;
    font-size: 12px;
    line-height: 22px;
}

.errorLoad {
    top: 50%;
    left: 50%;
    height: 140px;
    width: 500px;
    margin-top: -70px;
    margin-left: -250px;
}

.errorLoad div {
    padding: 20px 20px 20px 150px;
    font-size: 16px;
    background: white url('@{base_url}app/img/statuses/cross.png') 50px center no-repeat;
}

.errorLoad div .button {
    margin-top: 30px;
}

@keyframes progress-bar-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 0;
    }
}

.progress {
    overflow: hidden;
    height: 4px;
}

.progress .bar {
    width: 0%;
    height: 18px;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #38BAF2;
}

.progress-striped .bar {
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);

    background-size: 40px 40px;
}

.progress.active .bar {
    animation: progress-bar-stripes 2s linear infinite;
}

.full-window {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 40px;
    left: 0;
    background: rgba(255, 255, 255, 0.75);
    z-index: 100;
}

.full-window div {
    top: 50%;
    position: absolute;
    margin-top: -10px;
    left: 0;
    right: 0;
}


.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #e0e0e0;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #C4E3F3;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
    content: "";
    border-top: 0;
    border-bottom: 4px solid;
}

sup.required {
    color: red;
}

.listPanel {
    position: absolute;
    min-width: 100px;
    min-height: 100px;
    width: 100%;
    top: 43px;
    bottom: 0px;
    overflow: hidden;
}

.panel .tab.list {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
}

.note {
    color: #999;
    margin: 10px 0;
}

.start-page-menu {

    h2 {
        font-family: "Open Sans Light", Tahoma, Helvetica, sans-serif;
        padding: 5px 20px;
        color: #999;
        font-size: 30px;
    }

    .big-menu {
        list-style: none;
        padding-left: 0;

        li {
            margin: 0;
            display: block;
            float: left;
            padding-left: 10px;
            padding-bottom: 10px;

            a {
                display: block;
                vertical-align: middle;
                text-align: center;
                width: 200px;
                height: 205px;
                font-family: "Open Sans Light", Helvetica, Arial, Tahoma, sans-serif;
                font-size: 24px;
                padding: 10px;
                position: relative;
                border: none;

                .icon {
                    background-size: 128px 128px !important;
                    width: 128px !important;
                    height: 128px !important;
                    margin-bottom: 15px;
                }

                span {
                    display: block;
                    line-height: 1;
                }

                .title {
                    background: #eee;
                }

                &:hover {
                    background: #eee;
                }
            }
        }
    }
}

.note {
    color: #999;
    margin: 10px 0;
}

.read-only-value {
    color: #555;
}

.generic-new h1 {
    margin-left: 0;
}

#main .panel .tab > .generic-new {
    margin-bottom: 10px;
}

.pagination {

    .toolbar {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        ul li {
            display: inline-block;
            font-size: 11px;
        }

        li a, li span {

            display: inline-block;
            min-width: 20px;
            height: 29px;
            border: 1px solid transparent;
            text-align: center;
            padding: 4px 10px;
        }

        li span {
            color: #777;

        }

        li .selected {
            background: #dedede;
            border-radius: 2px;
            border: 1px solid #ccc;
            color: #153957;
        }

        li a {
            color: #333;
        }
    }

}
