@import "../../resource/css/init";
.tar { text-align: right!important; }

.tac { text-align: center!important; }

.fright { float: right!important; }

.fleft { float: left!important; }

.hide { display: none!important; }

.inline-block { display: inline-block; }

.width100 { width: 100%; }

.invisible {
    display: none;
}

.withoutHover a:hover {
    background-color: transparent !important;
    box-shadow: none !important;
    border-color: transparent !important;
}
